hr {
    margin: 0;
}

[data-testid="stHorizontalBlock"] {
    gap: 15px;
}



.st-emotion-cache-1wivap2 {
    font-size: 32px;
    font-weight: 600;
}

[data-testid="stMetricValue"] {
    font-size: 42px;
    font-weight: 900;
}



h5 {
    text-align: center;
}

/* Table styling */
.table-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

/* Header */
th {
    text-align: left !important;
}

/* Cell */
td {
    vertical-align: top !important;
}